<html>
    <p>Hello {{ name }} , Your role is {{ role }}</p>
    {% if role == 'student' %}
    <p>For doing homework  <br> <br>
    <!--<button> 提交作业 </button> -->
    </p>
    {% endif %}
    {% if role == 'teacher' %}
    <p>For correct homework</p> <br>
    <!--<button> 作业查看 </button> -->
    <!--<button> 批改作业 </button> -->
    <!--<button> 管理成绩 </button> -->
    {% endif %}
    {% if role == 'boss' %} 
    <p>For management <br><br>
    <!--<button> 导出成绩</button> -->
    </p>
    {% endif %}
    {% for permission in permissions %} 
    <button> {{permission.opName}} {{permission.resName}} </button>
    {% endfor %}

    <button type="submit" id="logOut" >退出系统</button>
    <script type="text/javascript" language="javascript" >
        var xmlHttp;
        function GetXmlHttpObject() {
            return new XMLHttpRequest();
        }

        var logOutUrl = document.URL + "logOut";
        
        logOut = document.getElementById("logOut");
        logOut.onclick = function() {
            xmlHttp = GetXmlHttpObject();
            xmlHttp.open("GET", logOutUrl, true);
            xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;");
            xmlHttp.send();
            location.reload();
        }
    </script>
</html>
